{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'pools/css/index.css' %}">
    <link type="image/png" sizes="16x16" rel="icon" href="{% static 'pools/img/favicon.ico' %}">
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<header>
    <div class="logo">
        <a href="/">
            <img src="{% static 'pools/img/logo-github-svgrepo-com.svg' %}" width="60" height="60px" alt="лого"/>
        </a>
    </div>
    <div class="menu">
        <ul>
            <li><a href="/about">О нас</a></li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/hobbies">Увелечения</a></li>
            <li><a href="/photo">Фото</a></li>
        </ul>
    </div>
    <div class="tel">
        <a href="tel:89154291000">+7 (915) 429 10 00</a>
    </div>
</header>
<body class="content">
</body>
<footer>
</footer>
</html>