{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Маркетинговое агентство - Бизнес Крыло сайты и контекстная реклама</title>
    <link rel="stylesheet" href="{% static 'pools/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'pools/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body>

    <!--=======Scroll to top button=======-->
    <div class="scrollToTop-btn flex-center">
      <i class="fas fa-arrow-up"></i>
    </div>

    <!--=======Light/Dark theme button=======-->
    <div class="theme-btn flex-center">
      <i class="fas fa-moon"></i>
      <i class="fas fa-sun"></i>
    </div>

    <!--=======Header=======-->
    <header>
      <div class="nav-bar">
        <a href="#" class="logo">Бизнес Крыло</a>
        <div class="navigation">
          <div class="nav-items">
            <div class="nav-close-btn"></div>
            <a class="active" href="#home">Главная</a>
            <a href="#about">Обо мне</a>
            <a href="#skills">Навыки</a>
            <a href="#services">Услуги</a>
            <a href="#partfolio">Портфолио</a>
            <a href="#contact">Контакты</a>
          </div>
        </div>
        <div class="nav-menu-btn"></div>
      </div>
    </header>

    <!--=======Home section=======-->
    <section class="home flex-center" id="home">
      <div class="home-container">
        <div class="media-icons">
          <a href="https://m.vk.com/egormaksakov"><i class="fab fa-vk"></i></a>
          <a href="https://t.me/egormaksakoff"><i class="fab fa-telegram "></i></a>
        </div>
        <div class="info">
          <h2>Сделаем сайт и рекламу за 2 недели "под ключ"</h2>
          <h3>Маркетинг с кайфом</h3>
          <p>Мы создаем упаковку для бизнеса и запускаем трафик</p>
          <a href="tel:79990826043" class="btn">Позвони нам <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        <div class="home-img">
          <img src="{% static 'pools/img/Group 8660.png' %}" alt="">
        </div>
      </div>
      <a href="#about" class="scroll-down">Scroll-down<i class="fas fa-arrow-down"></i></a>
    </section>

    <!--=======About section=======-->
    <section class="about section"  id="about">
      <div class="container flex-center">
        <h1 class="section-title-01">Обо мне</h1>
        <h2 class="section-title-02">Обо мне</h2>
        <div class="content flex-center">
          <div class="about-img">
            <img src="{% static 'pools/img/Group 8660.png' %}" alt="">
          </div>
          <div class="about-info">
            <div class="description">
              <h3>Руководитель команды</h3>
              <h4>4 специалиста <span>трудятся каждый день</span> над вашим <span>сайтом</span></h4>
              <p>Доверяя разработку сайта непрофессионалам, вы рискуете потерять 100 000 - 200 000 рублей и несколько месяцев. Предприниматели грамотно подбирают инвестиции в свой бизнес.</p>
            </div>
            <ul class="professional-list">
              <li class="list-item">
                <h3>5+</h3>
                <span>лет<br>опыта</span>
              </li>
              <li class="list-item">
                <h3>200</h3>
                <span> сделанных<br>проектов </span>
              </li>
              <li class="list-item">
                <h3>10 лет</h3>
                <span>опыта<br>в маркетинге</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!--=======Skills section=======-->
    <section class="skills section" id="skills">
      <div class="container flex-center">
        <h1 class="section-title-01">Навыки</h1>
        <h2 class="section-title-02">Навыки</h2>
        <div class="contant">
          <div class="skills-description">
            <h3>Посмотрите что мы умеем</h3>
            <p>Классные сайты за приемлимую цену</p>
          </div>
          <div class="skills-info education-all">
            <div class="education">
              <h4><label>Ценообразование</label></h4>
              <ul class="edu-list">
                <li class="item">
                  <span class="year">Лендинги</span>
                  <p> <span> От 150 000 </span> тысяч рублей</p>
                </li>
                <li class="item">
                  <span class="year">Многостраничные сайты</span>
                  <p> <span>От 300 000 </span> тысяч рублей</p>
                </li>
                <li class="item">
                  <span class="year">Интернет-магазины</span>
                  <p> <span>От 500 000</span>тысяч рублей</p>
                </li>
              </ul>
            </div>
            <div class="education">
              <h4><label>Инструменты</label></h4>
              <ul class="bars">
                <li class="bar">
                  <div class="info">
                    <span>Конверсия</span>
                    <span>От 95%</span>
                  </div>
                  <div class="line html"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>Просмотр страницы</span>
                    <span>От 90%</span>
                  </div>
                  <div class="line css"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>Регистрации</span>
                    <span>От 80%</span>
                  </div>
                  <div class="line js"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>Оценка пользователей</span>
                    <span>От 80%</span>
                  </div>
                  <div class="line jq"></div>
                </li>
                <li class="bar">
                  <div class="info">
                    <span>Уникальность текстов</span>
                    <span>От 75%</span>
                  </div>
                  <div class="line php"></div>
                </li>
              </ul>
            </div>
            <div class="education">
              <h4><label>Награды</label></h4>
              <ul class="edu-list">
                <li class="item">
                  <span class="year">2021</span>
                  <p> <span> Лучшая разработка  </span>- РУДН (РФ)</p>
                </li>
                <li class="item">
                  <span class="year">2020</span>
                  <p> <span>  Лучшая рекламная кампания </span>- Яндекс.Директ</p>
                </li>
                <li class="item">
                  <span class="year">2019</span>
                  <p> <span>Команда года  </span>- Ассоциация маркетологов России </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="skills-description">
            <h3>Наш опыт работ</h3>
          </div>
          <div class="skills-info">
            <div class="experience-card">
              <div class="upper">
                <h3>Архитектурное бюро - USPRO</h3>
                <h5>Сайт + реклама</h5>
                <span>2021 - 2022</span>
              </div>
              <div class="hr"></div>
              <h4><label>B2B-маркетинг</label></h4>
              <p>Разработали 8 посадочных страниц</p>
            </div>
            <div class="experience-card">
              <div class="upper">
                <h3>Абикс - кухни на заказ</h3>
                <h5>Многостраничный сайт + РСЯ</h5>
                <span>2019 - 2020</span>
              </div>
              <div class="hr"></div>
              <h4><label>B2С - маркетинг</label></h4>
              <p>Разместили каталог кухонь на сайте и получили цену заявки - 800р</p>
            </div>
            <div class="experience-card">
              <div class="upper">
                <h3>Подкастори - Студия подкастов</h3>
                <h5>Сегментировали продукт по 4 услугам</h5>
                <span>2018 - 2019</span>
              </div>
              <div class="hr"></div>
              <h4><label>B2B - маркетинг</label></h4>
              <p>Получили чистую прибыль 60 000р</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--=======Services section=======-->
    <section class="services section " id="services">
      <div class="container flex-center">
        <h1 class="section-title-01">Инструменты</h1>
        <h2 class="section-title-02">Инструменты</h2>
        <div class="content">
          <div class="services-description">
            <h3>Что мы умеем</h3>
          </div>
          <ul class="service-list">
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-pencil-ruler"></i>
                <h3>Ui/UX Дизайн</h3>
                <div class="learn-more-btn">Узнать подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Ui/UX Дизайн</h3>
                  <h4>Зачем мне дизайн?</h4>
                  <p>Дизайн позволяет удерживать клиента и вести его к нужному действию на сайте</p>
                  <h4>Что мы обещаем:</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Классный дизайн</li>
                    <li><i class="fas fa-check-circle"></i>Креативные решения</li>
                    <li><i class="fas fa-check-circle"></i>Несколько вариантов дизайна на выбор</li>
                    <li><i class="fas fa-check-circle"></i>Подбор индивидуальных цветов</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-photo-video"></i>
                <h3>Создание инфографики</h3>
                <div class="learn-more-btn">Узнать подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Создание инфографики</h3>
                  <h4>Зачем нужна инфографика?</h4>
                  <p>Инфографика позволит вашем посетителям лучше и нагляднее понимать цифры</p>
                  <h4>Что мы обещаем:</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Любые 3 инфографики под ваш продукт</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-file-code"></i>
                <h3>Веб-разработка</h3>
                <div class="learn-more-btn">Узнать подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Веб-разработка</h3>
                  <h4>Что такое Веб-разработка?</h4>
                  <p>Мы разработаем сайт который будет открываться во всех браузерах и в любых разрешениях</p>
                  <h4>Что мы обещаем:</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Разработку с нуля</li>
                    <li><i class="fas fa-check-circle"></i>Пишем код самостоятельно</li>
                    <li><i class="fas fa-check-circle"></i>Вы видите полностью готовый сайт без ошибок</li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="service-container">
              <div class="service-card">
                <i class="fas fa-align-left"></i>
                <h3>Продающие тексты</h3>
                <div class="learn-more-btn">Узнать подробнее <i class="fas fa-long-arrow-alt-right"></i></div>
              </div>
              <div class="service-modal flex-center">
                <div class="service-modal-body">
                  <i class="fas fa-times modal-close-btn"></i>
                  <h3>Продающие тексты</h3>
                  <h4>Зачем нужны продающие тексты?</h4>
                  <p>Продающие тексты вызовут доверие что позволит увеличить конверсию трафика и вы получите больше заявок</p>
                  <h4>Что мы обещаем:</h4>
                  <ul>
                    <li><i class="fas fa-check-circle"></i>Пишем тексты с нуля</li>
                    <li><i class="fas fa-check-circle"></i>Сайт продвигает по СЕО</li>
                    <li><i class="fas fa-check-circle"></i>Контент интересно читать</li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!--=======Portfolio section=======-->
    <section class="partfolio section" id="partfolio">
      <div class="container flex-center">
        <h1 class="section-title-01">Портфолио</h1>
        <h2 class="section-title-02">Портфолио</h2>
        <div class="content">
          <div class="partfolio-list">
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>U.S.PRO</h3>
                  <span>Архитектурное бюро</span>
                </div>
                <img src="{% static 'pools/img/66.jpg' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>U.S.PRO</h3>
                  <img src="{% static 'pools/img/66.jpg' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Abics</h3>
                  <span>Кухни на заказ</span>
                </div>
                <img src="{% static 'pools/img/55.png' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Abics</h3>
                  <img src="{% static 'pools/images/55.png' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Вега</h3>
                  <span>Ремонты офисов</span>
                </div>
                <img src="{% static 'pools/img/44.png' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Вега</h3>
                  <img src="{% static 'pools/img/44.png' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Снова Новый</h3>
                  <span>Пескоструйная обработка</span>
                </div>
                <img src="{% static 'pools/img/33.png' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Снова Новый</h3>
                  <img src="{% static 'pools/img/33.png' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Подкастори</h3>
                  <span>Запись подкастов</span>
                </div>
                <img src="{% static 'pools/img/22.png' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Подкастори</h3>
                  <img src="{% static 'pools/img/22.png' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
            <div class="img-card-container">
              <div class="img-card">
                <div class="overplay"></div>
                <div class="info">
                  <h3>Мирег</h3>
                  <span>Вентиляция</span>
                </div>
                <img src="{% static 'pools/img/11.png' %}" alt="">
              </div>
              <div class="partfolio-model  flex-center">
                <div class="partfolio-model-body">
                  <i class="fas fa-times partfolio-close-btn"></i>
                  <h3>Мирег</h3>
                  <img src="{% static 'pools/img/11.png' %}" alt="">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=======Get-in-touct=======-->
      <div class="get-in-touch sub-section">
        <div class="container">
          <div class="content flex-center">
            <div class="contact-card flex-center">
              <div class="title">
                <h4>Давайте поговорим</h4>
                <h3>О вашем</h3>
                <h2>Новом проекте</h2>
              </div>
              <div class="contact-btn">
                <a href="https://t.me/egormaksakoff" class="btn">Напишите нам <i class="fas fa-paper-plane"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=======Our Clients=======-->
      <div class="our-client sub-section">
        <div class="container flex-center">
          <h1 class="section-title-01">Наши клиенты</h1>
          <h2 class="section-title-02">Наши клиенты</h2>
          <div class="content">
               <div class="swiper client-swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/client.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Благодарю команду за ее классный подход и наш классный результат</p>
                    <h3>Евгения Иванова</h3>
                    <span>Маркетинг - менеджер</span>
                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/client2.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>В день к нам обращаются по 15 клиентов - спасибо!</p>
                    <h3>Иван Петров</h3>
                    <span>Дизайнер интерьеров</span>
                  </div>
                </div>
                <div class="swiper-slide flex-center">
                  <div class="client-img">
                    <img src="{% static 'pools/img/client3.jpg' %}" alt="">
                  </div>
                  <div class="clietn-details">
                    <p>Всего 2 недели работы - а результат огонь</p>
                    <h3>Екатерина Гребенюк</h3>
                    <span>Разработчик приложений</span>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next"><i class="fas fa-chevron-right"></i></div>
              <div class="swiper-button-prev"><i class="fas fa-chevron-left"></i></div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <!--=======Contact section=======-->
    <section class="contact section " id="contact">
      <div class="container flex-center">
        <h1 class="section-title-01">Контакт</h1>
        <h2 class="section-title-02">Контакт</h2>
        <div class="content">
          <div class="contact-left">
            <h2>Давайте обсудим Ваш проект</h2>
            <ul class="contact-list">
              <li>
                <h3 class="item-title">
                  <i class="fas fa-phone"></i>Телефон
                </h3>
                <span>+7 999 082 6043</span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-envelope"></i>Почта
                </h3>
                <span><a href="mailto:martain@email.co">martain@email.co</a></span>
              </li>
              <li>
                <h3 class="item-title">
                  <i class="fas fa-map-marker-alt"></i>Официальный адрес
                </h3>
                <span>город Москва улица Лобачевского 68</span>
              </li>
            </ul>
          </div>
          <div class="contact-rigth">
            <p>Всегда открыты для предложений <br><span> и новых возможностей</span></p>
            <form action="feedback/" method="post" class="contact-form">
              {% csrf_token %}
              <div class="third-row">
                <input name="email" type="email" placeholder="Email">
                <textarea name="message" id="" rows="7" placeholder="Message"></textarea>
              </div>
              <button class="btn" type="submit">Отправить сообщений <i class="fas fa-paper-plane"></i></button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!--=======Footer=======-->
    <footer>
      <div class="footer-container">
        <div class="hr"></div>
        <div class="info group">
          <h3>More</h3>
          <ul>
            <li><a href="#skills">Навыки</a></li>
            <li><a href="#services">Инструменты</a></li>
            <li><a href="#partfolio">Портфолио</a></li>
            <li><a href="#contact">Контакты</a></li>
          </ul>
        </div>
        <div class="hr"></div>
      </div>
    </footer>
    <!--=======External scripts=======-->
    <script src="{% static 'pools/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'pools/js/main.js' %}"></script>

  </body>
</html>
